@import 'framework';
@import 'vars';
@import 'modules/snippets';
@import 'modules/nav-theme';
@import 'modules/minimal-tophat';

@import 'base';

p a {
  font-weight: bold;
}

button, .button {
  background-color: $base;
  margin: 0 0 0.25rem;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  font-size: 0.8rem;
  &:hover {
    background-color: $vox-azure;
  }
  @media only screen and (min-width: $break_small) {
    padding: 0.625rem 0.75rem 0.6875rem 0.75rem;
    font-size: 1rem;
  }
}

button.active, .button.active {
  background-color: $steel;
  &:hover {
    background-color: $vox-azure;
  }
}

.button-group {
  padding-bottom: 0.5rem;
  @media only screen and (min-width: $break_small) {
    padding-bottom: 0.8rem;
  }
}

button.button.dropdown {
  text-transform: none;
}

.ui-action {
  font-size: 0.94rem;
}

.isotope-holder {
  position: relative;
  width: 100%;
}

.interactive-wide {
  width: calc(100% - 1.875rem);
  max-width: 1100px;
  margin: 0 auto 2rem;
  margin-top: -20px;
}


// items styles
.item {
  display: inline-block;
  width: 33%;
  padding: .3rem;
  @media only screen and (min-width: $break_small) {
    width: 20%;
  }
}
.item:hover {
  cursor:pointer;
}
.item:hover img {
  opacity:.8;
  filter:alpha(opacity=80);
}

// image movie title container
// todd's ranks included as well
.img-title {
  position: relative;
  width: 100%;
  span.film-title {
    color: $white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: 500;
    font-size: 0.6rem;
    padding: 0 3px;
    line-height: 150%;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba($black, 0.5);
    @media only screen and (min-width: $break_small) {
      font-size: 1rem;
    }
  }
  span.rank-title {
    color: $white;
    position: absolute;
    top: 1px;
    left: 1px;
    font-weight: 500;
    font-size: 0.6rem;
    width: 16px;
    text-align: center;
    border-radius: 50%;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba($vox-azure, 1);
    @media only screen and (min-width: $break_small) {
      font-size: 1.1rem;
      width: 32px;
    }
  }
}

// responsive video
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
