@import 'framework';
@import 'vars';
@import 'modules/snippets';
@import 'modules/nav-theme';
@import 'modules/minimal-tophat';

@import 'base';

p a {
  font-weight: bold;
}

button, .button {
  background-color: darken($vox-sun, 13);
  margin: 0 0 0.25rem;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  font-size: 0.8rem;
  &:hover {
    background-color: darken($vox-sun, 10);
  }
  @media only screen and (min-width: $break_small) {
    padding: 0.625rem 0.75rem 0.6875rem 0.75rem;
    font-size: 1rem;
  }
}

button.active, .button.active {
  background-color: darken($vox-sun, 20);
  &:hover {
    background-color: darken($vox-sun, 20);
  }
}

.button-group {
  padding-bottom: 0.5rem;
  @media only screen and (min-width: $break_small) {
    padding-bottom: 2rem;
  }
}

.ui-action {
  font-size: 0.94rem;
}

.isotope-holder {
  position: relative;
  width: 100%;
}

.interactive-wide {
  width: calc(100% - 1.875rem);
  max-width: 1100px;
  margin: 0 auto 2rem;
}

// items styles
.item {
  display: inline-block;
  width: 33%;
  padding: .3rem;
  @media only screen and (min-width: $break_small) {
    width: 20%;
  }
}
.item:hover {
  cursor:pointer;
}
.item:hover img {
  opacity:.8;
  filter:alpha(opacity=80);
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
