<ul id="filter-list">
    <li class="filter"><strong>FILTER BY</strong></li>
    <li class="active"><a href="#" data-filter="all"><div class="filter"></div>All</a></li>
    <li><a href="#" data-filter="filmography"><div class="filter"></div><%= bestPicture %></a></li>
    <!-- <li><a href="#" data-filter="discography"><div class="filter"></div>TK</a></li> -->
</ul>
