<div class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle"><i><%= name %></i></h2>
  <p><%= about %></p>
  <p><%= video %></p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
