<script>
DATA = <%= data.data.to_json %>;
</script>
<%= partial 'partials/modules/minimal_tophat' %>
<div class="row">
  <div class="large-10 large-offset-1 medium-12 columns text-center">
        <h1> <%= title %> </h1>
      <div class="byline">Updated by
        <a rel="author" href="//www.vox.com/authors/sarah-frostenson">Todd VanDerWerff, Javier Zarracina, and Sarah Frostenson</a> on
          <span id="incidents-updated"><%= display_date %></span>
      </div>
  </div>
</div>
<div class="row">
  <div class="columns large-offset-1 large-10 medium-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="interactive-wide">
  <div id="sorters" class="sorters">
    <div class="button-group filters-button-group">
      <button class="button" data-sort="name">Film</button>
      <button class="button" data-sort="rank">Rank</button>
    </div>
  </div>
  <div id="filters" class="sorters">
    <div class="button-group filters-button-group">
      <button class="button" data-filter="*">all</button>
      <button class="button" data-filter=".bestPicture">Best Picture</button>
      <button class="button" data-filter=".actor">Actor</button>
      <button class="button" data-filter=".actress">Actress</button>
      <button class="button" data-filter=".supportingActor">Supporting Actor</button>
      <button class="button" data-filter=".supportingActress">Supporting Actress</button>
      <button class="button" data-filter=".directing">Directing</button>
      <button class="button" data-filter=".screenplayOriginal">Original Screenplay</button>
      <button class="button" data-filter=".screenplayAdapted">Adapted Screenplay</button>
      <button class="button" data-filter=".documentaryFeature">Documentary Feature</button>
      <button class="button" data-filter=".documentaryShort">Documentary Short</button>
      <button class="button" data-filter=".foreign">Foreign</button>
      <button class="button" data-filter=".shortFilmLive">Short Film (Live)</button>
      <button class="button" data-filter=".shortFilmAnimated">Short Film (Animated)</button>
      <button class="button" data-filter=".animated">Animated</button>
      <button class="button" data-filter=".costume">Costume</button>
      <button class="button" data-filter=".makeup">Makeup</button>
      <button class="button" data-filter=".production">Production</button>
      <button class="button" data-filter=".filmEditing">Film Editing</button>
      <button class="button" data-filter=".visual">Visual</button>
      <button class="button" data-filter=".cinematography">Cinematography</button>
      <button class="button" data-filter=".song">Original Song</button>
      <button class="button" data-filter=".score">Original Score</button>
      <button class="button" data-filter=".soundMixing">Sound Mixing</button>
      <button class="button" data-filter=".soundEditing">Sound Editing</button>
    </div>
  </div>
  <div id="isotope-holder" class="isotope-holder"></div>
</div>
<div id="modal" class="modal hide"></div>
<div id="footer" class="row footer">
  <div class="columns large-offset-1 large-10 medium-12">
  <!-- <cite><p>Credits: Sarah Frostenson and Javier Zarracina</p></cite>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 58" class="small_logo" data-svg-fallback="/v/vox/scripts/../images/logo_vox.png" data-svg-fallback-override="" width="43" height="26"><path fill="#333" d="M55.1.9h1.7l.2-.8H35.6l-.2.8h3.1c2.7 0 4.9 1.9 4.9 5.6 0 2.1-.9 4.8-2.4 8.1L27.1 45.3 23.7 5.4C23.4 2.3 25 .9 28.5.9h2l.2-.8H.5L.2.9h1.9c2.4 0 3.3 1.5 3.5 4.3L11 56.8h12.7L45 11.7C48.3 5 51.7.9 55.1.9zM52.6 57c-1.9 0-3.1-.6-3.1-3.8 0-4 1.5-11.9 3.1-19.1.2 3.3 2.5 6.6 5.9 6.6.8 0 1.5-.1 2.2-.2C57.5 54.2 56.3 57 52.6 57zm60.6-27.1c4 0 6.6-3.3 6.6-7.1 0-3.2-2.3-5.6-5.6-5.6-5.9 0-8.7 4.7-13.6 13.3-1-5.4-3.5-12.4-9.7-12.4-7 0-15.1 10-22.5 16.2C65 37.2 61.3 39 58.3 39c-3.1 0-4.9-3.1-4.9-8.6 2.2-9 3.3-11.3 6.7-11.3 2.3 0 3.3 1.3 3.3 4 0 2.9-.6 7.7-1.9 13.8 3.3-1 8.3-5.2 12.5-9.7-2.2-5.3-7-8.9-13.8-8.9-12.7 0-23.9 11.4-23.9 24.2 0 8.8 6.3 15.5 16.1 15.5 16.2 0 23-14 23-23.8 0-1.4-.1-2.4-.2-3.7 2.5-2.7 5.7-5.3 8.3-5.3 3 0 5.4 7.5 7.7 18.8-2.1 2.3-4.2 6.7-5.2 7.5-.4-4-3.1-6.5-6.6-6.5-4 0-6.7 3.8-6.7 7 0 3.6 2.5 6 5.8 6 6.9 0 8.8-6.5 13.1-12.3C92.9 51.9 96 58 101.3 58c6.3 0 12.1-5.4 15.1-9.2l-.6-.9c-1.9 1.9-3.8 3.1-6 3.1-3.9 0-6.7-8.4-8.8-18.6 1.3-1.7 3.3-6.1 4.7-7.7.9 1.8 2.9 5.2 7.5 5.2z" class="shape-1"></path></svg> -->
</div>
</div>
