<script>
DATA = <%= data.data.to_json %>;
</script>
<%= partial 'partials/modules/minimal_tophat' %>
<div class="row">
  <div class="large-12 medium-12 columns text-center">
        <h1> <%= title %> </h1>
      <div class="byline">Updated by
        <a rel="author" href="http://www.vox.com/authors/todd-vanderwerff" target="_blank">Todd VanDerWerff</a> and <a rel="author" href="http://www.vox.com/authors/sarah-frostenson" target="_blank">Sarah Frostenson</a> on
          <span id="incidents-updated"><%= display_date %></span>
      </div>
  </div>
</div>
<div class="row">
  <div class="columns large-offset-1 large-10 medium-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<div class="interactive-wide">
  <div class="button-group sorters-button-group">
    <button class="button" data-sort="name">Film</button>
    <button class="button" data-sort="rank">Rank</button>
  </div>
  <div class="button-group filters-button-group">
    <button class="button" data-filter="*">all</button>
    <button class="button" data-filter=".bestPicture">Best Picture</button>
    <button class="button" data-filter=".actor">Actor</button>
    <button class="button" data-filter=".actress">Actress</button>
    <button class="button" data-filter=".supportingActor">Supporting Actor</button>
    <button class="button" data-filter=".supportingActress">Supporting Actress</button>
    <button class="button" data-filter=".directing">Directing</button>
    <button class="button" data-filter=".screenplayOriginal">Original Screenplay</button>
    <button class="button" data-filter=".screenplayAdapted">Adapted Screenplay</button>
    <button class="button" data-filter=".documentaryFeature">Documentary Feature</button>
    <button class="button" data-filter=".documentaryShort">Documentary Short</button>
    <button class="button" data-filter=".foreign">Foreign</button>
    <button class="button" data-filter=".shortFilmLive">Short Film (Live)</button>
    <button class="button" data-filter=".shortFilmAnimated">Short Film (Animated)</button>
    <button class="button" data-filter=".animated">Animated</button>
    <button class="button" data-filter=".costume">Costume</button>
    <button class="button" data-filter=".makeup">Makeup</button>
    <button class="button" data-filter=".production">Production</button>
    <button class="button" data-filter=".filmEditing">Film Editing</button>
    <button class="button" data-filter=".visual">Visual Effects</button>
    <button class="button" data-filter=".cinematography">Cinematography</button>
    <button class="button" data-filter=".song">Original Song</button>
    <button class="button" data-filter=".score">Original Score</button>
    <button class="button" data-filter=".soundMixing">Sound Mixing</button>
    <button class="button" data-filter=".soundEditing">Sound Editing</button>
  </div>
  <div id="isotope-holder" class="isotope-holder"></div>
</div>
<div id="modal" class="modal hide"></div>
