<script>
DATA = <%= data.data.to_json %>;
</script>
<%= partial 'partials/modules/minimal_tophat' %>
<div class="row">
  <div class="large-12 medium-12 columns text-center">
    <h1> <%= hed %> </h1>
      <div class="byline">Updated by
        <a rel="author" href="http://www.vox.com/authors/todd-vanderwerff" target="_blank">Todd VanDerWerff</a> and <a rel="author" href="http://www.vox.com/authors/sarah-frostenson" target="_blank">Sarah Frostenson</a> on
          <span id="incidents-updated"><%= display_date %></span>
      </div>
  </div>
</div>
<div class="row">
  <div class="columns large-offset-1 large-10 medium-12">
    <p>This year, 57 movies are nominated for Oscars.</p>
    <p>They range from massive, world-beating success stories — like the 12-times-nominated box office hit <i>The Revenant</i> and the record-breaking <i>Star Wars: The Force Awakens</i> — to much smaller films you've probably never heard of unless you have the nomination list committed to heart (I see you, <i>Claude Lanzmann: Spectres of the Shoah</i>).</p>
    <p>In the pre-internet days, seeing every one of a given year's Oscar-nominated films was all but impossible. If you lived in New York or Los Angeles, you could catch maybe 90 percent of them, but the more obscure ones would often disappear from theaters without a trace.</p>
    <p>These days, you really <i>can</i> watch the vast majority of the films if you put your mind to it — and you live in a reasonably film-friendly metropolis. Online streaming, digital rentals, and the occasional trip to the arthouse have allowed me to plow my way through all 57 contenders for the 2016 Oscars.</p>
    <p>Yes, even <i>Fifty Shades of Grey</i>.</p>
    <p>(Yes, <i>Fifty Shades of Grey</i> is nominated for an Oscar.)</p>
    <p>But why stop there? Below, I've laid out my complete ranking of all 57 films, as well as information on what they're nominated for and where you can watch them right now. You've still got a couple of days left before the ceremony on Sunday, February 28. You could watch all 57 too!</p>
  </div>
</div>
<div class="interactive-wide">
  <div class="button-group sorters-button-group">
    <div class="ui-action"><strong>Sort by</strong></div>
    <button class="button active" data-sort="rank">Todd's Rating</button>
    <button class="button" data-sort="name">Movie Title</button>
  </div>
  <div class="button-group filters-button-group">
    <div class="ui-action"><strong>Filter by major award categories</strong></div>
    <button class="button major active" data-filter="*">all</button>
    <button class="button major" data-filter=".bestPicture">Best Picture</button>
    <button class="button major" data-filter=".actor">Actor</button>
    <button class="button major" data-filter=".actress">Actress</button>
    <button class="button major" data-filter=".directing">Directing</button>
    <button class="button major" data-filter=".supportingActor">Supporting Actor</button>
    <button class="button major" data-filter=".supportingActress">Supporting Actress</button>
    <button class="button major" data-filter=".screenplayOriginal">Original Screenplay</button>
    <button class="button major" data-filter=".screenplayAdapted">Adapted Screenplay</button>
  </div>

<div id="filters" class="button-group filters-button-group">
  <div class="ui-action"><strong>Filter by other award categories and how to watch the films</strong></div>
  <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Documentaries, shorts and animated</button>
  <ul id="drop1" data-dropdown-content class="f-dropdown dropdown-behaviors" aria-hidden="true">
    <li><a class="selected-1" href="#" data-filter="*">Documentaries, shorts and animated</a></li>
    <li><a href="#" data-filter=".documentaryFeature">Documentary (Feature)</a></li>
    <li><a href="#" data-filter=".documentaryShort">Documentary (Short Subject)</a></li>
    <li><a href="#" data-filter=".foreign">Foreign Language Film</a></li>
    <li><a href="#" data-filter=".shortFilmLive">Short Film (Live Action)</a></li>
    <li><a href="#" data-filter=".shortFilmAnimated">Short Film (Live Animated)</a></li>
    <li><a href="#" data-filter=".animated">Animated Feature</a></li>
  </ul>
  <button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button dropdown">Production and design</button>
  <ul id="drop2" data-dropdown-content class="f-dropdown dropdown-behaviors" aria-hidden="true">
    <li><a class="selected-2" href="#" data-filter="*">Production and design</a></li>
    <li><a href="#" data-filter=".costume">Costume Design</a></li>
    <li><a href="#" data-filter=".makeup">Makeup and Hairstyling</a></li>
    <li><a href="#" data-filter=".production">Production Design</a></li>
    <li><a href="#" data-filter=".filmEditing">Film Editing</a></li>
    <li><a href="#" data-filter=".visual">Visual Effects</a></li>
    <li><a href="#" data-filter=".cinematography">Cinematography</a></li>
    <li><a href="#" data-filter=".song">Original Song</a></li>
    <li><a href="#" data-filter=".score">Original Score</a></li>
    <li><a href="#" data-filter=".soundMixing">Sound Mixing</a></li>
    <li><a href="#" data-filter=".soundEditing">Sound Editing</a></li>
  </ul>
  <button href="#" data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" class="button dropdown">How to watch</button>
  <ul id="drop3" data-dropdown-content class="f-dropdown dropdown-behaviors" aria-hidden="true">
    <li><a class="selected-3" href="#" data-filter="*">How to watch</a></li>
    <li><a href="#" data-filter=".ComingSoon">Coming Soon</a></li>
    <li><a href="#" data-filter=".Streaming">Streaming</a></li>
    <li><a href="#" data-filter=".DigitalDownload">Digital Download</a></li>
    <li><a href="#" data-filter=".InTheaters">In Theaters</a></li>
    <li><a href="#" data-filter=".DVDOnly">DVD Only</a></li>
  </ul>
</div>

<div id="isotope-holder" class="isotope-holder"></div>
</div>
<div id="modal" class="modal hide"></div>
